.nave{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 39px;
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.nav{
    .navul {
        font-family:'Courier New', Courier, monospace;
        text-align: center;
        list-style: none;
        justify-content: space-around;
        display: flex;
        line-height: 50px;
        font-size: 35px;
    }
}