.a{
    text-decoration: none;
    h2{
        font-size: 40px; 
        font-weight: 400; 
        color: white; 
        background:#04cbee;
        padding: 20px 0px 20px 0px;
        margin: 0 0 25px;
        overflow: hidden;
        border-radius: 25px 0px 35px 0px;
        -moz-border-radius: 35px 0px 35px 0px;
        -webkit-border-radius: 35px 0px 35px 0px;
        border: 2px solid #5878ca;
        text-align: center;
        font-family: Century,Gothic,CenturyGothic,AppleGothic,sans-serif;
    }
}

.info{
    margin: 10px 20px;
    font-family: verdana, arial, helvetica;
    line-height: 30px;
    font-size: 25px;
 }