.titulo{
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px blue;
    color: blueviolet;
    text-align: center;
    font-size: 50px;
}

.comun{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.comun h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
}

.comun ul{
    font-family:'Courier New', Courier, monospace;
    columns: 2;
    font-size: 25px;
    gap: 30px;
}

.comun div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 400px;
}

.comun img {
    width:100%;
}

body {
    background-color: aquamarine;
}

.nave{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 39px;
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.nav ul{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    list-style: none;
    justify-content: space-around;
    display: flex;
    line-height: 50px;
    font-size: 35px;
}

.home{
    font-size: 40px; 
    font-weight: 400; 
    color: white; 
    background:#04cbee;
    padding: 20px 0px 20px 0px;
    margin: 0 0 25px;
    overflow: hidden;
    border-radius: 25px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #5878ca;
    text-align: center;
    font-family: Century,Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.a{
    text-decoration: none;
}

.info{
   margin: 10px 20px;
   font-family: verdana, arial, helvetica;
   line-height: 30px;
   font-size: 25px;
}